@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
    height: 100vh;
    background-image: url(../img/raining-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.content-container{
    display: flex;  
    height: inherit;
    padding: 40px 80px 80px 80px;
    justify-content: space-between  ;
}
.left-container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.weather-title{
    font-size: 17px;
    /* change Font Family */
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
}
.temperature-container{
    display: flex;
    align-items: center;
    margin-left: -3px;
}
.temperature-text{
    font-size: 85px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
}
.cloud-icon {
    font-size: 110px !important;  
}
.location-container{
    margin-top: -10px;

}
#location{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 10px;
}
.today-status-container{
    margin-top: -8px;
}
.time{
    margin-right: 5px;
}
.time, .date{
    font-size: 20px;
    font-weight: 400;
    font-family: 'inter','sans-serif';
    letter-spacing: 3px;
}
.seperator{
    width: 1px;
    background: rgb(40, 40, 40);
    margin: 0 5px;
}

.current-weather{

    width: 400px; 
    height: 180px; 
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}
.left-current-weather, .right-current-weather{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info-container{
    background: rgba(255, 255, 255, 0.149);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.23);
    display: flex;
    align-items: center;
    padding: 17px 8px;
    margin: 1px 1px 5px 2px;
    white-space: nowrap;
}
.info-container .info-icon{
    margin-right: 5px;
}
.info-container em{
    margin-right: 10px;
}
.info-value{
    font-family:'inter',sans-serif; ;
}

